project/Release/project.exe
project/Release/project.pdb
project/project/Release/project.tlog/cl.command.1.tlog
project/project/Release/project.tlog/CL.read.1.tlog
project/project/Release/project.tlog/CL.write.1.tlog
*.tlog
project/project/Release/project.log
*.obj